@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src:
    url('/fonts/PretendardVariable.woff2') format('woff2'),
    url('/fonts/PretendardVariable.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
}

body {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
